<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="app-log" fileName="${log-path}/app.log" append="false" filePattern="${log-path}/app-%d{yyyy-MM-dd-HH}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} %c{1} - %msg%n</pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <AsyncRoot level="error">
            <AppenderRef ref="app-log"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
